.nflfan-play-table {
  max-width: 900px;
  margin: 0 auto;
}

.nflfan-panel-game {
  width: 90%;
  margin: 0 auto;
}

.nflfan-panel-game .play-header {
  padding: 8px;
  border: 1px solid #ddd;
  border-bottom: 0;
  font-weight: bold;
}

.nflfan-panel-game .play-table {
  height: 400px;
  overflow-y: scroll;
}

.short-dropdown {
  max-height: 325px;
  overflow-y: auto;
}

.bot3  { margin-bottom:  3px; }
.bot5  { margin-bottom:  5px; }
.bot7  { margin-bottom:  7px; }
.bot10 { margin-bottom: 10px; }
.bot12 { margin-bottom: 12px; }
.bot15 { margin-bottom: 15px; }
.bot20 { margin-bottom: 20px; }
.bot25 { margin-bottom: 25px; }
.bot30 { margin-bottom: 30px; }

.right3  { margin-right:  3px; }
.right5  { margin-right:  5px; }
.right7  { margin-right:  7px; }
.right10 { margin-right: 10px; }
.right12 { margin-right: 12px; }
.right15 { margin-right: 15px; }
.right20 { margin-right: 20px; }
.right25 { margin-right: 25px; }
.right30 { margin-right: 30px; }

.nomar { margin: 0; }
.nomartop { margin-top: 0; }
.nomarleft { margin-left: 0; }
.nomarright { margin-right: 0; }
.nomarbot { margin-bottom: 0; }

.strong { font-weight: bold; }
