/*
 * Pandora:
 * #091d42
 * #396a92
 * #9ab4cb
 * #ecedf2
 * #fdfdfd
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background: #fdfdfd;
  height: 100%;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  margin: 10px 0 5px 0;
}

p {
  margin: 0 0 7px 0;
}

a, a:visited {
  color: #4578AB;
  font-weight: bold;
}

a:hover {
  color: #AB8043;
}

#content {
  margin: 0 100px;
}

.prominent {
  font-size: 140%;
}

.small {
  font-size: 85%;
}

#leagues {
  margin: 30px 0 0 0;
  border-top: 2px solid #000;
  padding-top: 10px;
}

  #leagues h2 {
    margin: 0;
  }

  #leagues ul {
    margin: 0;
  }

table {
  border-right: 1px solid #000; border-bottom: 1px solid #000;
}

  table th, tr.total {
    background: #FF924B;
  }

  table th, table td {
    border-left: 1px solid #000; border-top: 1px solid #000;
    padding: 4px;
    text-align: left;
  }

.nowrap {
  white-space: nowrap;
}

.roster {
  font-size: 90%;
  margin: 0 15px 15px 0;
  display: inline-block;
  vertical-align: top;
}

  .roster th p, .roster td p {
    margin: 0;
  }

  .roster tr.total {
    font-weight: bold;
  }

    .roster tr.total td:first-child {
      text-align: right;
    }

  .roster tr.playing {
    background: #ff9595;
    font-weight: bold;
  }

  .roster tr.finished td.points {
    font-weight: bold;
  }

  .roster tr.bye td.points {
    background: #dfdcdf;
  }

.plays {
  margin-top: 30px;
}

  .plays .penalty {
    background: #fff695;
    font-weight: bold;
  }

  .plays .big {
    background: #b5ff95;
    font-weight: bold;
  }

  .plays .score {
    background: #b5ff95;
    font-weight: bold;
    color: #b00;
  }

  .plays .mine {
    background: #ff9595;
    font-weight: bold;
  }
