/*
 * Pandora:
 * #091d42
 * #396a92
 * #9ab4cb
 * #ecedf2
 * #fdfdfd
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background: #fdfdfd;
  height: 100%;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  margin: 10px 0 5px 0;
}

p {
  margin: 0 0 7px 0;
}

a, a:visited {
  color: #4578AB;
  font-weight: bold;
}

a:hover {
  color: #AB8043;
}

#content {
  margin: 0 50px;
}

.prominent {
  font-size: 140%;
}

.small {
  font-size: 85%;
}

#footer {
  margin: 30px 0 0 0;
  border-top: 2px solid #000;
  padding-top: 15px;
}

  #footer h2 {
    margin: 0;
  }

  #footer div {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #000;
    height: 100px;
  }

  #footer ul {
    margin: 0;
  }

  #footer ul#weeks {
    margin: 0;
    padding: 0;
  }

    #footer ul#weeks li {
      display: inline-block;
      margin-right: 8px;
      font-size: 120%;
    }

    #footer ul#weeks li.current_week {
      font-size: 150%;
      font-weight: bold;
    }

table {
  border-right: 1px solid #000; border-bottom: 1px solid #000;
}

  table th, tr.total {
    background: #ffb789;
  }

    table th a, table tr.total a {
      color: #000;
    }

    table th a:hover, table tr.total a:hover {
      color: #fff;
    }

  table th, table td {
    border-left: 1px solid #000; border-top: 1px solid #000;
    padding: 4px;
    text-align: left;
  }

.nowrap {
  white-space: nowrap;
}

.roster {
  font-size: 90%;
  margin: 0 15px 15px 0;
  display: inline-block;
  vertical-align: top;
}

  .roster th p, .roster td p {
    margin: 0;
  }

  .roster tr.bench {
    display: none;
  }

  .roster tr.total {
    font-weight: bold;
  }

    .roster tr.total td:first-child a {
      float: left;
      margin: 0;
    }

    .roster tr.total td:first-child p {
      float: right;
      margin: 0;
    }

  .roster tr.playing {
    background: #ff9595;
    font-weight: bold;
  }

  .roster tr.finished td.points {
    font-weight: bold;
  }

  .roster tr.bye td.points {
    background: #dfdcdf;
  }

.plays {
  margin-top: 30px;
  width: 100%;
}

  .plays th .plays_title {
    float: left;
    margin: 0;
  }

  .plays th .plays_opts {
    float: right;
    margin: 0;
  }

  .plays th a {
    color: #000;
  }

  .plays th form {
    display: none;
    border: 1px solid #000;
    background: #fff;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    font-weight: normal;
  }

    .plays th form input[type="text"] {
      width: 100px;
    }

    .plays th form label {
      display: inline-block;
    }

    .plays th form select {
      font-size: 85%;
    }

  .plays td .play_desc {
    float: left;
  }

  .plays td .video_link {
    float: right;
  }

  .plays .penalty td:first-child {
    background: #fff695;
    font-weight: bold;
  }

  .plays .big td:first-child {
    background: #b5ff95;
    font-weight: bold;
  }

  .plays .score td:last-child {
    color: #b00;
  }

  .plays .bench td:first-child {
    background: #ffcece;
    font-weight: bold;
  }

  .plays .started td:first-child {
    background: #ff9595;
    font-weight: bold;
  }

.game_plays {
  display: inline-block;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  margin: 0 30px 20px 0;
}

  .game_plays .plays {
    margin: 0;
    border-right: 0;
  }

  .game_plays .nowrap {
    white-space: normal;
  }

#score_details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  padding: 8px;
  background: #fff;
}


    #score_details th, #score_details td {
      padding: 4px 20px 4px 4px;
      text-align: left;
    }

    #score_details th {
      font-weight: bold;
    }

    #score_details tr.dtotal {
      font-weight: bold;
    }

#vid {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: #ff924b;
  padding: 8px;
  border: 1px solid #000;
}

  #vid p {
    text-align: right;
    font-weight: bold;
    font-size: 160%;
  }

#message {
  color: #b00;
  font-weight: bold;
  font-size: 150%;
}
